body {
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  display: grid;
  grid-auto-rows: minmax(150px, auto);
  height: 100vh;
  background: #f23557;
  color: #f0d43a;
  justify-content: center;
  grid-gap: 1em;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.zip {
  overflow: hidden;
}

/* styling pop up */

#err {
  display: inline-block;
  width: 320px;
  height: fit-content;
  padding: 5px 2px;
  transition: 0.3s;
  opacity: 0;
  background: linear-gradient(135deg, green, wheat);
  color: white;
  margin-top: 5px;
  text-align: center;
  text-transform: capitalize;
  font-size: 14px;
}

/* class to make popup appears only for 4s */
.shown {
  animation: animate 5s linear;
}
@keyframes animate {
  20%,
  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.entry {
  background: rgba(59, 74, 107, 0.4);
}

#entryHolder {
  width: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  gap: 10%;
  text-transform: capitalize;
  padding: 0 10px;
}

.title {
  width: 500px;
  text-transform: capitalize;
  text-align: center;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
}

input {
  display: block;
  height: 60px;
  width: 320px;
  background: #22b2da;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
  padding-left: 10px;
}

button {
  width: 400px;
  height: 100px;
  background: #3b4a6b;
  color: #f0d43a;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
}
h1 {
  font-size: 36px;
}

textarea {
  background: #22b2da;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}
